<app-menu></app-menu>

<table class="table table-danger table-striped table-hover" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">RFC</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>

    <tbody *ngFor="let L of Lista">
      <tr>
        <th scope="row">{{L.id}}</th>
        <td>{{L.nombre}}</td>
        <td>{{L.apellidoPaterno}}</td>
        <td>{{L.apellidoMaterno}}</td>
        <td>{{L.rfc}}</td>
        <td><button (click)="eliminar(L.id)" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
      </tr>
    </tbody>
  </table>